*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.div1{
    width: 300px;
    height: 200px;
    border-radius: 25px;
    background-image: url(./images/17328029_638978676305182_775217067_n.jpg);
    background-size: cover;
    margin-left: 400px;
    margin-top: 150px;
    overflow: hidden;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px  40px black;
}

.div2 h1{
    font-size: 30px;
}

.div2 p{
    font-size: 20px;
}

.div2{
    height: 100%;
    color: black;
    text-align: center;
    padding-top: 70px;
    background-color: rgba(21, 20, 88, 0.4);
}



