*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./360_F_94255289_bLOLo8dVkESH4wP4QNVUg4hWBlcBEEOg.jpg);
    display: flex;
    justify-content: space-evenly;
}


ul{
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 10px 15px;
    transform: 0.45s;
    color: white;
}

li:hover{
    padding: 10px 5px;
}

.lil{
    background-color: aqua;
    border-radius: 15px;
}

