p{
    color: rgb(150, 100, 50)   
}

img{
    font-size: 50%;
    width: 500px;
}

/* rgb-თი შეგვიძლია ჩვენით ავირჩიოთ ნებისმიერი ფერი

% იკავებს მთლიანი ეკრანის იმდენ ნაწილს რამდენ პროცენტსაც მივუთითებთ ხოლო px ყველანაირ 
ეკრანზე ერთიდაიგივე ზომის იქნება*/